@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: black;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.nytimes {
    @include flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 200px;
    @include media($tablet) {
        display: flex;
        flex-direction: row;
        margin: 60px;
    }
    @include media($desktop) {
        justify-content: flex-start;
    }
}

.description {
    @include flex;
    color: $text-color;
    padding: 20px;
    font-family: sans-serif;
    // Don't forget to download fonts and change font family.
}

.selection {
    background: url("http://i62.tinypic.com/15xvbd5.png") no-repeat 96% 0;
    height: 30px;
    overflow: hidden;
    width: 240px;
    border-radius: 5px;
    color: $text-color;
    font-size: 12px;
    padding-left: 10px;
    transition: all ease 0.2s;
}

.selection:hover {
    border: 2px solid white;
    transform: scale(1.2);
}

.button {
    @include flex;
}

.logo {
  width: auto;
  height: auto;
    img {
      @include media($tablet){
        width: 40%;
        height: auto;
      }
      @include media($desktop) {
        width: 40%;
        height: auto;
      }
    }
}


.news-link {
  height: 100%;
  width: 100%;
}

select {
    @include deleteDefaultSelector;
}

footer {
    padding-top: 150px;
    position: fixed center;
    bottom: 0;

}

.stories {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    li {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        height: 420px;
        width: 100%;
        background-size: cover;
        @include media($tablet) {
            width: 50%;
        }
        @include media($desktop) {
            width: 25%;
        }

        p {
            background-color: rgba(0,0,0,0.6);
            font-family:'open_sanslight', sans-serif;
            font-weight: normal;
            color: white;
            position: absolute;
            font-size: 20px;
            padding: 0;
            height: 0;
            bottom: 0;
            transition: all ease 0.3s;
        }
    }

    li:hover p {
        height: 150px;
        padding: 5px;
    }
}
